/.bundle/config
/.vagrant/
/.ruby-version
/_site/
/node_modules/
/vendor
/wxWidgets/
*.log

# Compiled Assets
/assets/css/*.css
/assets/css/*.map
/assets/js/*.min.js
/assets/js/*.map

# Translations Build Files
/_cron/locale/
/about/translations/stats.js

# Download stats files
/_data/release_assets/*.json
/downloads/downloads.json

# XRC Schemas copied from wxWidgets repo
/schemas/xrc_schema_builtin_only.rnc
/schemas/xrc_schema.rnc
