/.vagrant/
/.ruby-version
/_site/
/node_modules/
*.log

# Compiled Assets
/assets/css/global.css
/assets/css/global.min.css
/assets/js/global.min.js

# Translations Build Files
/_cron/locale/
/about/translations/stats.js
