/.vagrant/
/.ruby-version
/_site/
/node_modules/
/vendor
*.log

# Compiled Assets
/assets/css/*.css
/assets/css/*.map
/assets/js/*.min.js
/assets/js/*.map

# Translations Build Files
/_cron/locale/
/about/translations/stats.js

# Download stats files
/downloads/downloads.json
