<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^about/credits\.htm              /about/credits/                     [R=301,NC,L]
    RewriteRule ^about/datasheets\.htm           /about/                             [R=301,NC,L]
    RewriteRule ^about/feature2\.htm             /about/                             [R=301,NC,L]

    RewriteRule ^docs/platform\.htm     http://wiki.wxwidgets.org/Supported_Platforms               [R=301,NC,L]
    RewriteRule ^docs/supported\.htm    http://wiki.wxwidgets.org/Development:_Supported_Classes    [R=301,NC,L]

    RewriteRule ^develop/cvs\.htm   /develop/svn.htm            [R=301,NC,L]
    RewriteRule ^snapshots.*        http://biolpc22.york.ac.uk/pub/Daily_HEAD/  [R=301,NC,L]
    RewriteRule ^wxxrc$             http://svn.wxwidgets.org/svn/wx/wxWidgets/trunk/misc/schema/xrc_schema.rnc  [R=302,L]
</IfModule>