---
layout: home
---

<div class="jumbotron" style="padding: 30px;">
  <p>
    wxWidgets is a C++ library that lets developers create applications for
    Windows, Mac OS X, Linux and other platforms with a single code base. It
    has popular language bindings for
    <a href="http://wxpython.org/" target="_blank">Python</a>,
    <a href="http://wxperl.sourceforge.net/" target="_blank">Perl</a>,
    <a href="http://wxruby.rubyforge.org/" target="_blank">Ruby</a> and
    many other languages, and unlike other cross-platform toolkits,
    wxWidgets gives applications a truly native look and feel because it
    uses the platform's native API rather than emulating the GUI. It's also
    extensive, free, open-source and mature.
  </p>
  <div style="margin-top: 20px;">
    <div class="visible-xs btn-group-vertical">
        <a href="/about/" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-info-sign"></i> Learn more &raquo;</a>
        <a href="/downloads/" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-download"></i> Download now &raquo;</a>
    </div>
    <div class="hidden-xs text-center">
      <p>
        <a href="/about/" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-info-sign"></i> Learn more &raquo;</a> &nbsp; or &nbsp;
        <a href="/downloads/" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-download"></i> Download now &raquo;</a>
      </p>
    </div>
  </div>
</div>

<h1>Latest News</h1>

{% for post in site.posts limit:5 %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <p>Posted on <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate{% if updated %} data-updated="true"{% endif %}>{{ post.date | date: "%B %d, %Y" }}</time></p>

  {{ post.content }}

  {% if post.comments and site.disqus_shortname %}
  <p><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id | escape }}">Comments</a></p>
  {% endif %}
{% endfor %}

<p style="text-align: center; margin-top: 2em; font-size: 120%;">
  <i class="glyphicon glyphicon-calendar"></i>
  <strong><a href="/news/archive/">News Archive</a></strong>
</p>