<div class="panel panel-primary">
  <div class="panel-heading">Quick Links</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="http://docs.wxwidgets.org/trunk/overview_helloworld.html">
        <i class="fa fa-star fa-fw"></i> Hello World in wxWidgets</a></li>
      <li><a href="http://docs.wxwidgets.org/3.0/">
        <i class="fa fa-book fa-fw"></i> Online Manual</a></li>
      <li><a href="https://wiki.wxwidgets.org/">
        <i class="fa fa-info fa-fw"></i> Community Wiki</a></li>
      <li><a href="https://trac.wxwidgets.org/newticket">
        <i class="fa fa-bug fa-fw"></i> Report a Bug</a></li>
      <li><a href="https://github.com/wxWidgets/wxWidgets">
        <i class="fa fa-github fa-fw"></i> GitHub Repository</a></li>
      <li><a href="https://trac.wxwidgets.org/wiki/Roadmap">
        <i class="fa fa-forward fa-fw"></i> Development Roadmap</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-primary logos" style="display: none;">
  <div class="panel-heading">Solutions</div>
  <div class="panel-body text-center"></div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Follow Us</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="/atom.xml" title="News RSS Feed">
          <i class="fa fa-rss fa-fw"></i> News RSS Feed
        </a>
      </li>
      <li>
        <a href="http://wxwidgets.blogspot.com/" title="Developer Blog">
          <i class="fa fa-pencil fa-fw"></i> Developer Blog
        </a>
      </li>
      <li>
        <a href="https://www.google.com/+wxwidgets">
          <i class="fa fa-google-plus fa-fw"></i> Google+
        </a>
      </li>
    </ul>
  </div>
</div>
