{% for card in site.data.aside.cards %}
<div class="card border-primary mb-4">
  <div class="card-header bg-primary text-light">{{ card.title }}</div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column">
    {% for item in card.links %}
      <li class="nav-item"><a class="nav-link" href="{{ item.url }}" title="{{ item.title }}">
        <i class="{{ item.icon_category }} fa-{{ item.icon_type }} fa-fw"></i> {{ item.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

<div class="card border-primary mb-4 logos" style="display: none;">
  <div class="card-header bg-primary text-light">Solutions</div>
  <div class="card-body text-center"></div>
</div>
