<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Mailing Lists</a></li>
    <li><a href="#">Issue Tracker</a></li>
  </ul>
</div>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Latest News</li>
    {% for post in site.posts limit:3 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="well sidebar-nav sponsors" style="display: none;">
  <ul class="nav nav-list">
    <li class="nav-header">Sponsor</li>
    <li>
      <div id="sponsors">
        <div class="item">
          <a href="http://www.writerscafe.co.uk/" target="_new">
            <img src="/assets/img/sponsors/writerscafe.gif" alt="Writer's Caf&eacute; - a place to be creative" />
          </a>
        </div>
        <div class="item">
          <a href="http://www.helpblocks.com/" target="_new">
            <img src="/assets/img/sponsors/helpblocks.gif" alt="Try HelpBlocks, a great HTML Help editor" />
          </a>
        </div>
        <div class="item">
          <a href="http://www.anthemion.co.uk/dialogblocks/" target="_new">
            <img src="/assets/img/sponsors/dialogblocks.gif" alt="DialogBlocks - dialogs unlimited" />
          </a>
        </div>
        <div class="item">
          <a href="http://www.tt-solutions.com/" target="_new">
            <img src="/assets/img/sponsors/tt.gif" alt="wxWidgets Consulting" />
          </a>
        </div>
        <div class="item">
          <a href="http://www.litwindow.com/" target="_new">
            <img src="/assets/img/sponsors/litwindow.gif" alt="C++ consulting, tools from Lit Window" />
          </a>
        </div>
        <div class="item">
          <a href="http://www.wxdesigner-software.de/" target="_new">
            <img src="/assets/img/sponsors/wxdesigner.gif" alt="wxDesigner" />
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Follow Us</li>
    <li>
      <a href="/atom.xml" title="News RSS Feed">
        <img src="/assets/img/rss-feed-16.png" width="16" height="16">
        News RSS Feed
      </a>
    </li>
    <li>
      <a href="http://wxwidgets.blogspot.com/" title="Developer Blog">
        <i class="icon-pencil"></i>
        Developer Blog
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/103998509273059754527?rel=author">
        <img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
        Google+
      </a>
    </li>
  </ul>
</div>