<meta charset="utf-8">
<title>
  {% if page.title %}
  	{{ page.title | escape }} - wxWidgets
  {% else %}
  	wxWidgets: Cross-Platform GUI Library
  {% endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="wxWidgets Team">
<link href="/atom.xml" rel="alternate" title="wxWidgets News" type="application/atom+xml" />
<link href="/blog/atom.xml" rel="alternate" title="Developer Blog" type="application/atom+xml" />
<link rel="shortcut icon" href="/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
<link href="/assets/css/global.min.css" rel="stylesheet" media="screen">
{% for stylesheet in page.stylesheets %}
<link href="{{ stylesheet }}" rel="stylesheet">
{% endfor %}
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
