<header>
  <div class="container p-0">
    <div class="row align-items-center">
      <div class="col col-xl-7">
        <img class="img-fluid" src="/assets/img/header-logo.png" alt="wxWidgets - Cross-Platform GUI Library" width="428" height="101"/>
      </div>
      <div class="col col-xl-5 d-none d-lg-block d-xl-block">
        <div class="row align-items-center">
          <div class="col-3 px-0 py-3">
            <a href="/about/Ukraine/"><img class="img-fluid rounded" src="/assets/img/Ukraine-flag.png" alt="Stop Russia agression of Ukraine"></a>
          </div>
          <div class="col-9">
            <div class="card-body px-0 py-3">
              <h5 class="card-title"><a href="/about/Ukraine/">Stop the War in Ukraine</a></h5>
              <p class="card-text">wxWidgets is united with the people of Ukraine and the international community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark rounded">
  {% include navigation.html %}
</nav>
