<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<div class="nav-collapse">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/about/">Overview</a></li>
        <li><a href="/about/team/">The Team</a></li>
        <li><a href="/">Features</a></li>
        <li><a href="/">Feedback</a></li>
        <li><a href="/about/translations/">Translations</a></li>
        <li><a href="/">Datasheets</a></li>
        <li><a href="/">License</a></li>
        <li><a href="/">Press</a></li>
        <li><a href="/">Users</a></li>
        <li><a href="/">Screenshots</a></li>
        <li><a href="/">History</a></li>
        <li><a href="/about/credits/">Credits</a></li>
      </ul>
    </li>
    <li><a href="/">Download</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/">Tutorials</a></li>
        <li><a href="/">Frequently Asked Questions</a></li>
        <li><a href="/">Reference Manual</a></li>
        <li><a href="/">Other Resources</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/">Mailing Lists</a></li>
        <li><a href="http://forums.wxwidgets.org/">Forums</a></li>
        <li><a href="/">IRC Channel</a></li>
        <li><a href="http://trac.wxwidgets.org/">Issue Tracker</a></li>
        <li><a href="/">Commercial Support</a></li>
      </ul>
    </li>
    <li><a href="/">Developers</a></li>
  </ul>
  <form class="navbar-search pull-right" action="http://google.com/search">
    <input type="hidden" name="q" value="site:http://www.wxwidgets.org/" />
    <input type="text" class="search-query" placeholder="Search" name="q" results="0">
  </form>
</div>