<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="row">
        <div class="span9">
          <article>
            {{ content }}
          </article>
        </div>
        <div class="span3">
          <aside>
            {% include aside.html %}
          </aside>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
    {% if site.disqus_shortname %}
    <script type="text/javascript">
      var disqus_shortname = "{{ site.disqus_shortname }}";
      (function() {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      })();
      (function () {
      }());
    </script>
    {% endif %}
  </body>
</html>